__Scenes/
AnimatonControllers/
Materials/
Models/
Prefabs/
Textures/
Sounds/
UI/
PostProcessing/
Vector/
*.meta
Tiles/
BuildingParameters/
BuildingGeneration/
StreetMapGeneration/
EffectExamples/
TextMesh Pro/
*.asset
*.meta
*.ttf
*.mp3
*.jpg
*.gif
*.png
*.unity
*.asmdef
*.controller
*.mat
